 <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
        </form>

{#        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>#}
    </div>